* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 330px;
  display: grid;
  flex-direction: column;
  place-content: center;
}

form {
  margin: 1em 0;
}

label {
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

input {
  display: inline-block;
  height: 40px;
  width: 250px;
  padding: 5px;
}

button {
  display: inline-block;
  background: blue;
  color: white;
  height: 40px;
  padding: 5px;
  width: 60px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.5em;
  border: none;
}
button:hover {
  cursor: pointer;
}

button:disabled {
  background: grey;
  color: black;
  opacity: 0.6;
}

ul {
  list-style: none;
}

li {
  width: 330px;
  background-color: rgba(128, 128, 128, 0.1);
  margin: 0.4em 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: relative;
}

li i {
  position: absolute;
  right: 10px;
  top: 35%;
  width: auto;
  font-size: 1.3em;
}

li h4 {
  font-size: 1.2em;
  padding-bottom: 0.3em;
}

li i:hover {
  color: cyan;
  cursor: pointer;
}

.message {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  min-width: 150px;
  font-size: 15px;
  text-align: center;
  color: rgb(87, 87, 87);
}

.message i {
  color: darkorange;
}
.warning {
  color: darkred;
}

.warning i {
  color: darkred;
}
